<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uog.mexpense">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication2">
        <activity
            android:name="com.uog.mexpense.JsonTestActivity"
            android:exported="false" />
        <activity
            android:name="com.uog.mexpense.EntryActivity"
            android:exported="false"
            android:parentActivityName="com.uog.mexpense.TripDetailActivity"/>
        <activity
            android:name="com.uog.mexpense.DetailActivity"
            android:exported="false" />
        <activity
            android:name="com.uog.mexpense.AdvanceSearchActivity"
            android:exported="false"
            android:parentActivityName="com.uog.mexpense.ExpenseListActivity" />
        <activity
            android:name="com.uog.mexpense.ExpenseEntryActivity"
            android:exported="false"
            android:parentActivityName="com.uog.mexpense.ExpenseListActivity" />
        <activity
            android:name="com.uog.mexpense.ExpenseListActivity"
            android:exported="false"
            android:parentActivityName="com.uog.mexpense.TripDetailActivity" />
        <activity
            android:name="com.uog.mexpense.TripDetailActivity"
            android:exported="false"
            android:parentActivityName="com.uog.mexpense.TripDetailActivity" />
        <activity
            android:name="com.uog.mexpense.TripDataUploadActivity"
            android:exported="false"
            android:parentActivityName="com.uog.mexpense.TripDetailActivity" />
        <activity
            android:name="com.uog.mexpense.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_entry"
            android:theme="@style/Theme.MyApplication2.NoActionBar" />
        <activity
            android:name="com.uog.mexpense.TripListActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>